<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>DK Extract</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/static/favicon/favicon-32x32.png" width="30" height="30" class="d-inline-block align-top rounded" alt=""> DK extract
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" id="navlinks">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/climardo/dkextract">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://platanofb.com/">Platanofb</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.draftkings.com/lobby#/featured">DraftKings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Header -->
    <header class="masthead" id="site-header">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-bold text-white custom-shadow">DK Extract</h1>
                    <p class="lead font-weight-bold text-white custom-shadow">A tool for generating a weekly blog post with DraftKings data</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page content -->
    <div class="container col-lg-10 shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col m-2">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Load internal scripts -->
    <script src="/static/scripts.js"></script>

    <!-- Load extenal scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/bf6c3ce2c2.js"></script>
</body>

</html>