{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

<div class="alert alert-{{ category }}" role="alert">
    {{ message }}
</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="week">Contest Id</label>
        <input type="text" class="form-control" name="contest_id" id="contest_id" value="{{ contest_id }}">
    </div>
    <div class="form-group">
        <label for="results_file">Week</label>
        <input type="text" class="form-control" name="week" id="week" value="{{ week }}">
    </div>
    <div class="form-group">
        <label for="contest_id">Year</label>
        <input type="text" class="form-control" name="year" id="year" value="{{ year }}">
    </div>
    <div class="form-grou d-none">
    </div>
    <button name="get_not_submitted" value="get_not_submitted" type="submit" class="btn btn-dark mt-1">Not submitted?</button>
    <button name="generate" value="generate" type="submit" class="btn btn-dark mt-1">Generate</button>
</form>

{% endblock %}