{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
<div class="alert alert-{{messages[0][category]}}" role="alert">
    <ul class="list-unstyled">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
    {% endif %}
{% endwith %}


<form method="post" enctype="multipart/form-data">
    {{ form }}
    <button name="update" type="submit" class="btn btn-dark mt-1">Submit</button>
</form>
{% endblock %}